.well
  .row
    %ol.breadcrumb
      %li.active
        Rats
  
  .row
    .col-lg-2
      = link_to faction_image("gurista",128), "/rats/faction/Guristas"
    .col-lg-2
      = link_to faction_image("serpentis",128), "/rats/faction/Serpentis"
    .col-lg-2
      = link_to faction_image("angel",128), "/rats/faction/Angel_Cartel"
    .col-lg-2
      = link_to faction_image("blood",128), "/rats/faction/Blood_Raiders"
    .col-lg-2
      = link_to faction_image("sansha",128), "/rats/faction/Sansha's_Nation"
    .col-lg-2
      = link_to faction_image("Caldari",128), "/rats/faction/Caldari"
  .row
    .col-lg-2
      = link_to faction_image("Gallente",128), "/rats/faction/Gallente"
    .col-lg-2
      = link_to faction_image("Minmatar",128), "/rats/faction/Minmatar"
    .col-lg-2
      = link_to faction_image("Amarr",128), "/rats/faction/Amarr"
    .col-lg-2
      = link_to faction_image("CONCORD",128), "/rats/faction/Concord"