

.well
  
  %h4 
    Listing rats
    - if @rat_type
      \- 
      = @rat_type
      .pull-right
        = link_to "Back", rats_path
      
    
  %hr
  .row
    .col-lg-12
      = paginate @rats
  %table.table.table-striped
    %tr
      %th Name
      %th 
      %th 
    - if params[:rat_type]
      - @rats.each do |rat|
        %tr
          %td
            %a{href: "/rats/#{rat.id}"}
              = rat.name
          %td 
            = rat.rat_type
          %td
            = nice_number(rat.attrib "entityKillBounty")
            ISK
    - else
      - @rats.each do |rat|
        %tr
          %td
            %a{ href: "/rats/type/#{rat.rat_type}" }
              = rat.rat_type
          %td
          %td

  .row
    .col-lg-12
      = paginate @rats