.well
  .row
    .col-sm-2
      = eve_image :type, @rat.id, 64
      - if type_to_faction @rat.rat_type
        = faction_image @rat.rat_type, 64
      - else
        - if @rat.site
          = faction_image @rat.site.faction, 64
    .col-sm-4
      %b= @rat.name
      %br
      = @rat.rat_type
      %br
      = number_with_delimiter((@rat.attrib "entityKillBounty").to_i)
      ISK
    .col-sm-6
      - if @desc.length >= 200
        .hand
          %b{ title: "Show full info", "data-target" => "#hidden-help", "data-toggle" => "modal", class: :ttp }
            %i.glyphicon.glyphicon-info-sign
            Descripton
      - else
        %b
          %i.glyphicon.glyphicon-info-sign
          Descripton
      
      %p
        %i= strip_tags @desc.gsub(/\\n/,"<br>").truncate(200).html_safe
          
        #hidden-help.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                %h4.modal-title= @rat.name
              .modal-body
                %p
                  = @desc.gsub(/\\n/,"<br>").html_safe        
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        
        
  .row
    .col-sm-12
      / %h4
      /   Details
      / %hr
      = section_title("Details")
  .row.rat-details
    .col-sm-12
      .row
        .col-sm-3
          = render :partial => 'numeric'
        .col-sm-9
          .row.pseudo-header
            .col-sm-8.col-sm-offset-4
              .col-sm-3
                = image_tag("icons/em.png", class: :ttp, title: "EM")
              .col-sm-3
                = image_tag("icons/thermal.png", class: :ttp, title: "Thermal")
              .col-sm-3
                = image_tag("icons/kinetic.png", class: :ttp, title: "Kinetic")
              .col-sm-3
                = image_tag("icons/explosive.png", class: :ttp, title: "Explosive")
          .row
            .col-sm-4
              .col-sm-8.numeric.ttp.hand{ "data-target" => ".dps-details", "data-toggle" => "collapse" }
                %b Total DPS
                %i.glyphicon.glyphicon-collapse-down#dps-details
                = image_tag 'icons/dps.png'
              .col-sm-4.numeric
                = nice_number @rat.total_dps
            .col-sm-8
              .col-sm-3
                = dps_percent "emDamage"
              .col-sm-3
                = dps_percent "thermalDamage" 
              .col-sm-3
                = dps_percent "kineticDamage" 
              .col-sm-3
                = dps_percent "explosiveDamage" 
          .row.dps-details.collapse{ "data-icon" => "#dps-details"}
            .col-sm-4
              .col-sm-8.numeric
                %i Gun DPS
                = image_tag 'icons/turret.png'
              .col-sm-4.numeric
                = nice_number @rat.gun_dps.sum
            .col-sm-8
              .col-sm-3
                = gun_percent "emDamage"
              .col-sm-3
                = gun_percent "thermalDamage" 
              .col-sm-3
                = gun_percent "kineticDamage" 
              .col-sm-3
                = gun_percent "explosiveDamage" 
          .row.dps-details.collapse
            .col-sm-4
              .col-sm-8.numeric
                %i Missile DPS
                = image_tag 'icons/missiles.png'
              .col-sm-4.numeric
                = nice_number @rat.missile_dps.sum
            .col-sm-8
              .col-sm-3
                = missile_percent "emDamage"
              .col-sm-3
                = missile_percent "thermalDamage" 
              .col-sm-3
                = missile_percent "kineticDamage" 
              .col-sm-3
                = missile_percent "explosiveDamage" 
          .row
            .col-sm-4
              .col-sm-8.numeric.ttp.hand{ "data-target" => ".hp-details", "data-toggle" => "collapse"}
                %b Total HP
                %i.glyphicon.glyphicon-collapse-down#hp-details
                = image_tag 'icons/shield.png'
              .col-sm-4.numeric
                = nice_number @rat.total_hp
            .col-sm-8
              .col-sm-3
                = progress @rat.avg_res[:em].round, damage_to_class(:em)
              .col-sm-3
                = progress @rat.avg_res[:thermal].round, damage_to_class(:thermal)
              .col-sm-3
                = progress @rat.avg_res[:kinetic].round, damage_to_class(:kinetic)
              .col-sm-3
                = progress @rat.avg_res[:explosive].round, damage_to_class(:explosive)
          .row.collapse.hp-details{ "data-icon" => "#hp-details" }
            .col-sm-4
              .col-sm-8.numeric
                %i Shield
                = image_tag 'icons/shield.png'
              .col-sm-4.numeric
                = nice_number @rat.attrib "shieldCapacity"
            .col-sm-8
              .col-sm-3
                = shield_percent_bar "shieldEmDamageResonance" 
              .col-sm-3
                = shield_percent_bar "shieldThermalDamageResonance"
              .col-sm-3
                = shield_percent_bar "shieldKineticDamageResonance"
              .col-sm-3
                = shield_percent_bar "shieldExplosiveDamageResonance"
          .row.collapse.hp-details
            .col-sm-4
              .col-sm-8.numeric
                %i Armor
                = image_tag 'icons/armor.png'
              .col-sm-4.numeric
                = nice_number @rat.attrib "armorHP"
            .col-sm-8
              .col-sm-3
                = armor_percent_bar "armorEmDamageResonance" 
              .col-sm-3
                = armor_percent_bar "armorThermalDamageResonance"
              .col-sm-3
                = armor_percent_bar "armorKineticDamageResonance"
              .col-sm-3
                = armor_percent_bar "armorExplosiveDamageResonance" 
          .row.collapse.hp-details
            .col-sm-4
              .col-sm-8.numeric
                %i Structure
                = image_tag("icons/structure.png")
              .col-sm-4.numeric
                = nice_number @rat.attrib "hp"
            .col-sm-8
              .col-sm-3
                = progress(0)
              .col-sm-3
                = progress(0)
              .col-sm-3
                = progress(0)
              .col-sm-3
                = progress(0)
          .row
            .col-sm-4
              .col-sm-8.numeric.ttp.hand{ "data-target" => ".rep-details", "data-toggle" => "collapse"}
                %b Total Repair
                %i.glyphicon.glyphicon-collapse-down#rep-details
                = image_tag("icons/repair.png")
              .col-sm-4.numeric
                = nice_number @rat.total_repair, "HP/s"
          .row.collapse.rep-details{ "data-icon" => "#rep-details"}
            .col-sm-4
              .col-sm-8.numeric
                %i Shield Boost
                = image_tag("icons/shield_boost.png")
              .col-sm-4.numeric
                = nice_number shield_boost, "HP/s"
          .row.collapse.rep-details{ "data-icon" => "#rep-details"}
            .col-sm-4
              .col-sm-8.numeric
                %i Armor Repair
                = image_tag("icons/armor_repair.png")
              .col-sm-4.numeric
                = nice_number armor_repair, "HP/s"


  - if @rat.site_id
    .row
      .col-sm-12
        = section_title("Site Info")
        .col-sm-12
          / .row
          /   .col-sm-4
          /     %b Name
          /   .col-sm-4
          /     %b Faction
          /   .col-sm-4
          /     %b Rating
          .row
            .col-sm-6{ style: "line-height: 32px"}
              - name = us @rat.site.name
              - url = "https://wiki.eveonline.com/en/wiki/#{name}"
              = eve_image(:corp, 1000137, 32)      
              
              %a{href: url, target: :blank}
                = @rat.site.name
              = "( #{@rat.site.rating}/10 )"
              
              
            .col-sm-6
              - faction = @rat.site.faction            
              %a{ href: "/rats/faction/" + type_to_faction(faction) }
                = faction_image faction, 32
                = faction
              
            
  - if @rat.drops.count > 0            
    .row
      .col-sm-12
        = section_title("Drops")
        - @rat.drops.order("guaranteed desc").each do |drop|
          .col-sm-6
            - if drop.market
              - url = "http://eve-central.com/home/quicklook.html?typeid=#{drop.id}"
            - else
              - name = us drop.name
              - url = "https://wiki.eveonline.com/en/wiki/#{name}"
            %a{href: url, target: :blank }
              = eve_image :type, drop.id, 32
              = drop.name
            - if drop.guaranteed
              %i (Guaranteed Drop)
              
      
          
/ = render :partial => 'layouts/disqus'
