.span8
  %table.table.table-bordered.table-striped
    %tr
      %th{ colspan: 4 }
        Favourite Rats
    %tr
      %th 
        %em Name
      %th 
        %em Bounty
      %th 
        %em Count
    - @character.top_rats.each do |rat|
      - type = rat_type(rat["_id"]["rat_id"], 50)
      %tr
        %td 
          = rat_image_tiny rat["_id"]["rat_id"]
          = pirate_logo(type)
          = rat_name_link(rat["_id"]["rat_id"], 30)
        %td.isk
          = isk rat_bounty(rat["_id"]["rat_id"])
        %td.isk= rat["sum"]
