- cats = Array.new
- vals = Array.new
- @daily.each do |day|
  - cats.push "\'" + build_date(day) + "\'"
  - vals.push day["sum"]/100
- s_cats = cats.join(",")
- s_vals = vals.join(",")

%script
  $(function () {
  $('#chart').highcharts({
  chart: { 
  animation: false },
  plotOptions: {
  series: {
  animation: false
  }
  },
  title: {
  text: 'Daily bounty',
  x: -20 //center
  },
  subtitle: {
  text: 'Last 30 days',
  x: -20
  },
  xAxis: {
  type: 'datetime',
  categories: [ #{s_cats}  ],
  labels: {
  step: 5
  },
  },
  yAxis: {
  endOnTick: true,
  -# type: 'logarithmic',
  labels: {
  x: -20
  },
  title: {
  text: 'Bounty'
  },
  plotLines: [{
  value: 0,
  width: 1,
  color: '#808080'
  }]
  },
  tooltip: {
  valueSuffix: ' ISK'
  },
  legend: {
  enabled: false,
  layout: 'vertical',
  align: 'right',
  verticalAlign: 'middle',
  borderWidth: 0
  },
  series: [{
  name: '#{@character[:name]}',
  data: [ #{s_vals} ]
  }]
  });
  }); 

%script{ src: "http://code.highcharts.com/highcharts.js" }
%script{ src: "http://code.highcharts.com/themes/gray.js" }
-# %script{ src: "http://code.highcharts.com/modules/exporting.js" }

.row
  #profile_box.span12
    .margin20
      .row
        .span2
          = character_image(@character[:char_id], 128)
        .span3
          %p
            %b
              = character_name(@character[:char_id],50)
          %p
            %b 
              Ranking
            %br
            %span.badge.badge-success.ttp{:title => "Bounty Rank"}
              = bounty_rank(@character[:char_id])
            %span.badge.badge-warning.ttp{:title => "Kill Rank"}
              = kill_rank(@character[:char_id])
            %span.badge.badge-important.ttp{:title => "Tick Rank"}
              = tick_rank(@character[:char_id])
        %table.span6#stats{ :style => "text-align: right; vertical-align: top"}
          %tr
            %td
              %h4 Bounty
            %td
              %h4 Kills
            %td
              %h4 Ticks
            %td
              %h4 IPH
          %tr
            %td.span2
              %b Total
              %br
              = isk total_bounty
              %br
              %b This month
              %br
              = isk bounty_this_month
            %td.span2
              %b Total
              %br
              = total_kills
              %br
              %b This month
              %br
              = kills_this_month
            %td.span2
              %b Top tick
              %br
              = isk top_tick
              %br
              %b Average tick
              %br
              = isk avg_tick
            %td.span2
              %b Max. IPH
              %br
              = isk top_tick * 3
              %br
              %b Avg. IPH
              %br
              = isk avg_tick * 3
      .row
        .span5
  / .span7
  /   #chart.span7{ style: "min-width: 400px; height: 170px; margin: 0 auto" }

%br

= render :partial => "shared/log"

