- cats = Array.new
- vals = Array.new
- @daily.each do |day|
  - cats.push "\'" + build_date(day) + "\'"
  - vals.push day["sum"]/100
- s_cats = cats.join(",")
- s_vals = vals.join(",")

%script
  $(function () {
  $('#chart').highcharts({
  chart: { 
  animation: false },
  plotOptions: {
  series: {
  animation: false
  }
  },
  title: {
  text: 'Daily bounty',
  x: -20 //center
  },
  subtitle: {
  text: 'Last 30 days',
  x: -20
  },
  xAxis: {
  type: 'datetime',
  categories: [ #{s_cats}  ],
  labels: {
  step: 5
  },
  },
  yAxis: {
  endOnTick: true,
  -# type: 'logarithmic',
  labels: {
  x: -20
  },
  title: {
  text: 'Bounty'
  },
  plotLines: [{
  value: 0,
  width: 1,
  color: '#808080'
  }]
  },
  tooltip: {
  valueSuffix: ' ISK'
  },
  legend: {
  enabled: false,
  layout: 'vertical',
  align: 'right',
  verticalAlign: 'middle',
  borderWidth: 0
  },
  series: [{
  name: '#{@char_id ? character_name(@char_id, 50) : "empty" }',
  data: [ #{s_vals} ]
  }]
  });
  }); 

%script{ src: "http://code.highcharts.com/highcharts.js" }
-# %script{ src: "http://code.highcharts.com/modules/exporting.js" }

.row
  #profile_box.span5
    .margin20
      .row
        .span2
          = character_image(@char_id, 128)
        .span2
          %h2
            = character_name(@char_id, 50)
  #profile_box.span7
    #chart.span7{ style: "min-width: 400px; height: 170px; margin: 0 auto" }

%br

= render :partial => "shared/log"

