-# %table.table.table-condensed.table-striped.rounded.table-bordered
-#   %thead
-#     %tr
-#       %th.span2 Timestamp
-#       %th{ :colspan => 2 } Character  
-#       %th Bounty
-#   %tbody
-#   - @kill_log.each do |log|
-#     %tr
-#       %td
-#         = log[:ts].strftime("%Y-%m-%d %H:%M:%S")
-#       %td{ :style => "width: 32px" }
-#         = character_image_link( log[:char_id] ) 
-#       %td.span3
-#         %table
-#           %tr
-#             %td
-#               = character_name_link( log[:char_id], 20 )
-#           %tr
-#             %td
-#               - log.kills.each do |kill|
-#                 = rat_image(kill["rat_id"], 32)
-#       %td.span1#isk
-#         = isk log[:bounty] 

%table.table.table-condensed.table-striped.rounded.table-bordered
  %thead
    %tr
      %th Recent Kills
  %tbody
    - @kill_log.each do |log|
      %tr
        %td
          .span1{ :style => "margin: 7px" }
            = character_image_link( log[:char_id] ) 
          .span3
            %b
              = character_name_link( log[:char_id], 50 )
            %br
            = log[:ts].strftime("%Y-%m-%d %H:%M:%S")
            %br
            %b
              = isk log[:bounty]/100
          .span7
            - log.kills.each do |kill|
              = rat_image(kill["rat_id"], 32)
= will_paginate @kill_log
