%table.table.table-striped.table-condensed
  %thead
    %tr
      - if system_info?
        %th
      %th
        = sort_link @search, :solar_system_name, "System"
      %th
        = sort_link @search, :sid, "ID"
      %th
        = sort_link @search, :sig_group_name, "Group"
      %th
      %th
        = sort_link @search, :sig_type_name, "Type"
      %th
        = sort_link @search, :created_at, "Scan Time"
      %th
  %tbody
    - @sigs.each do |sig|
      - type = sig.sig_type
      %tr
        - if system_info?
          %td
            %span.ttp{ onclick: "CCPEVE.addWaypoint(#{sig.system_id})", title: "Add Waypoint" }
              = eve_icon(:waypoint)
        %td
          = dotlan_link sig.solar_system
          - if system_info?
            %span.ttp{ onclick: "CCPEVE.showInfo(5, #{sig.system_id})", title: "Show Info" }
              = eve_icon(:info)
        %td
          = sig.sid
        %td
          = type_to_color sig.sig_group.name
        %td
          - if type.ded_rating 
            .label.label-danger
              DED
              = type.ded_rating
        %td
          = site_info(type)
        %td
          = sig.created_at.strftime("%Y-%m-%d %H:%M EVE")
        %td
          - if ( user_signed_in? and current_user.chars.ids.include?(sig.char_id) ) or request.headers["HTTP_EVE_CHARID"].to_i == sig.scan.char_id
            / = button_to "x", sig_path(id: sig.id), method: :delete, class: "btn btn-xs btn-danger"
            = link_to eve_icon(:remove), sig_path(id: sig.id), method: :delete, class: :ttp, title: "Delete"

= paginate @sigs
