.well
  .row
    .col-sm-12
      = form_for @search, url: scan_path, method: :get, html: { class: "form-inline" } do |f|
        .form-group
          %a.btn.btn-success{ href: edit_scan_path } Add Scan
        .form-group
          %select.form-control{ name: "q[system_id_eq]"}
            %option{ value: "" } All Systems
            - @sigs.joins(:solar_system).select(:name, :system_id).distinct.order("solar_systems.name").each do |system|
              %option{ value: system.system_id, selected: selected_system(system.system_id.to_s) }= system.solar_system.name
        .form-group
          = f.submit "Filter", class: "btn btn-main"
        .form-group
          - if params[:past]
            = check_box_tag :past, true,  params[:past] == "true" ? true : false
            Resuts from before DT?
          - else
            = check_box_tag :past, true
            Resuts from before DT?
          - if params[:current_only]
            = check_box_tag :current_only, true,  params[:current_only] == "true" ? true : false 
            Current system?
          - else
            = check_box_tag :current_only, true
            Current system?
        .form-group
          - SigGroup.all.each do |group|
            = check_box_tag "q[sig_group_id_in][]", group.id, checked_group(group.id)
            = type_to_color group.name
    
        

      
          
  %p
  - if @sigs.count == 0
    %hr
    .text-info
      %h4 Looks like there are no signatures in this Scan 
      Play around with the 
      %b Filters 
      or 
      %b Groups
      or select a differnt system from the systems dropdown?
      %p Or maybe... just maybe you shoud add new signatures?
  - else
    = render :partial => 'sigs_table'
