.well
  %p.small-font
    %i
      - colonies = "<b class='yellow'>NPC Strongholds destroyed</b><br><i>#{nice_number(Kill.where(rat_type: "Deadspace Overseer's Sentry").count)}</i>"
      - headcounts = "<b class='yellow'>Characters on this site</b><br><i>#{nice_number(Char.count)}</i>"
      - ships = "<b class='yellow'>NPC Ships destroyed</b><br><i>#{ nice_number Kill.sum(:rat_amount) }</i>"
      - people = "<b class='yellow'>Deadspace Overseers killed</b><br><i>#{ nice_number Kill.overseer.sum(:rat_amount) }</i>"
      - isk = ( nice_number WalletRecord.sum(:amount) /100 ) + " ISK"
      - money = "<b class='yellow'>Total money earned</b><br><i>#{isk}</i>"

      "Progress... What is it?
      Out here progress is numbers.
      Milimiters... Kilometers...
      %span.hand.ttp{ title: headcounts}
        %b.white
          Headcounts...
      Death tolls...
      This is progress.
      %span.hand.ttp{ title: colonies }
        %b.white
          Colonies burned...
      %span.hand.ttp{ title: ships }
        %b.white
          Ships destroyed...
      %span.hand.ttp{ title: people }
        %b.white
          People killed...
      %span.hand.ttp{ title: money }
        %b.white
          Money earned...
      It all comes at a price...
      And if the price is right
      I'll set the universe on fire"
    .pull-right.small-font
      From:
      %a{ href: "http://www.youtube.com/watch?v=kED11aGobUk", target: "_blank" } EVE Online, Inferno Trailer, 2012
      %br