.row
  .span6#kill_box
    %h4 Top bounty this month
    - top_bounty_this_month.each do |top|
      .span1#kill
        %b
          = isk_short top["sum"]
        = character_image_link(top["_id"])
        %br
        %b
          = character_name_link(top["_id"])
  .span6#kill_box
    %h4 Top kills this month
    - top_kills_this_month.each do |top|
      .span1#kill
        %b
          = top["kills"]
        = character_image_link(top["_id"])
        %br
        %b
          = character_name_link(top["_id"])
%br
.row
  .span6#kill_box
    %h4 Top bounty last 10 days
    - top_bounty_10days.each do |top|
      .span1#kill
        %b
          = isk_short top["sum"]
        = character_image_link(top["_id"])
        %br
        %b
          = character_name_link(top["_id"])
  .span6#kill_box
    %h4 Top bounty all time
    - top_bounty.each do |top|
      .span1#kill
        %b
          = isk_short top["sum"]
        = character_image_link(top["_id"])
        %br
        %b
          = character_name_link(top["_id"])
%br
.row
  .span6#kill_box
    %h4 Top kills last 10 days
    - top_kills_10days.each do |top|
      .span1#kill
        %b
          = top["kills"]
        = character_image_link(top["_id"])
        %br
        %b
          = character_name_link(top["_id"])
  .span6#kill_box
    %h4 Top kills all time
    - top_kills.each do |top|
      .span1#kill
        %b
          = top["kills"]
        = character_image_link top["_id"]
        %br
        %b
          = character_name_link top["_id"]
%br
.row
  .span6#kill_box
    %h4 Highest ticks last 10 days
    - highest_tick_10days.each do |top|
      .span1#kill
        %b
          = isk_short top[:bounty]
        = character_tick_link(top[:char_id],top[:_id])
        %br
        %b
          = character_name_link(top[:char_id])
  .span6#kill_box
    %h4 Highest ticks all time
    - highest_tick.each do |top|
      .span1#kill
        %b
          = isk_short top[:bounty]
        = character_tick_link(top[:char_id],top[:_id])
        %br
        %b
          = character_name_link(top[:char_id])
