.row
  .span6#kill_box
    %h4{ :style => "text-align: center" } Top kills last 10 days
    - top_kills_10days.each do |top|
      .span1{ :style => "text-align: center" }
        = number_to_human(top["sum"]).gsub(/ Million/,"M ISK")
        %img.img-rounded{ :src => character_image(top["_id"])}
        %br
        = character_name(top["_id"])
  .span6#kill_box
    %h4{ :style => "text-align: center" } Highest bounty last 10 days
    - highest_bounty_10days.each do |top|
      .span1{ :style => "text-align: center" }
        = number_to_human(top[:bounty]).gsub(/ Million/,"M ISK")
        %img.img-rounded{ :src => rat_image(top[:rat_id])}
        %br
        = truncate rat_name(top[:rat_id]), :length => 18

%br
.row
  .span6#kill_box
    %h4{ :style => "text-align: center" } Top bounty last 10 days
    - top_bounty_10days.each do |top|
      .span1{ :style => "text-align: center" }
        = number_to_human(top["sum"]).gsub(/ Million/,"M ISK")
        %img.img-rounded{ :src => character_image(top["_id"])}
        %br
        = truncate character_name(top["_id"]), :length => 15
