.well.news
  .row
    .span12
      %b
        %a{ href: "https://twitter.com/EveScore", target: "_blank"}
          Follow EveScore on Twitter!
  - tweets.each_pair do |ts, tweet|
    .row
      .span2
        %i
          = ts
      .span9
        = tweet.html_safe

= cache(cache_key) do
  .row
    .span6#kill_box
      %h4 Top all time bounty
      - top_bounty.each do |top|
        .span1#kill
          %b
            = isk_short top["sum"]
          = character_image_link(top["_id"])
          %br
          %b
            = character_name_link(top["_id"])

    .span6#kill_box
      %h4 "...out here progress is numbers"
      %div{ style: "text-align: left; margin-left: 30px"}
        .row
          %b.span3 Pilots
          %td= Character.count
        .row
          %b.span3 Bounty earned
          %td= number_to_human Bounty.sum(:bounty)/100
        .row
          %b.span3 Rats killed
          %td= number_to_human Bounty.rat_kills
        .row
          %b.span3 Incursion rewards
          %td= number_to_human Incursion.sum(:reward)/100
        .row
          %b.span3 Tax collected
          %td= number_to_human Bounty.sum(:tax)/100
  %br
  .row
    .span6#kill_box
      %h4 Top all time Incursion rewards 
      - top_incursion.each do |top|
        .span1#kill
          %b
            = isk_short top["sum"]
          = character_image_link(top["_id"])
          %br
          %b
            = character_name_link(top["_id"])
    .span6#kill_box
      %h4 Kill shares by faction
      %img.img-rounded{ src: Graph.where(title: "Kills share by faction").first.data }
  %br
  .row
    .span6#kill_box
      %h4 Highest all time ticks
      - highest_tick.each do |top|
        .span1#kill
          %b
            = isk_short top[:bounty]
          = character_tick_link(top[:char_id],top[:_id])
          %br
          %b
            = character_name_link(top[:char_id])
    .span6#kill_box
      %h4 Kill shares by ship type
      %img.img-rounded{ src: Graph.where(title: "Kills share by ship type").first.data }
