= cache(cache_key) do
  .well 
    %h3
      = params[:action].capitalize
      Ladder
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Pos
        %th{ :colspan => 3 } Character
        %th.span3 Bounty
    %tbody
      - @ladder.each do |pos|
        %tr
          %td.span1{ :style => "text-align: center"}
            = pos[:pos]
          %td{ :style => "width: 32px"}= character_image_link(pos["_id"],32)
          %td{ :style => "width: 32px"}= corp_image_link(Character.where(char_id: pos["_id"]).first.corp_id ,32)
          %td
            = character_name_link(pos["_id"],50)
          %td#isk
            = isk pos["sum"]/100
  = will_paginate @ladder
