%ul.nav{ :style => "margin-right: 0px"}
  %li
    %a.dropdown-toggle{:"data-toggle" => :dropdown, :href =>  "#" }
      Top
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "Players", root_path
      %li
        = link_to "Corporations", home_corps_path
%ul.nav{ :style => "margin-right: 0px"}
  %li
    %a.dropdown-toggle{:"data-toggle" => :dropdown, :href =>  "#" }
      Ladders
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "Bounty", ladder_bounty_path
      %li
        = link_to "Incursion", ladder_incursion_path
  %li
    %a{:href => kills_log_path } Kill Log
%ul.nav{ :style => "margin-right: 0px"}
  %li
    %a.dropdown-toggle{:"data-toggle" => :dropdown, :href =>  "#" }
      API
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "Add Key", key_add_path
      %li
        = link_to "Delete Key and Data", key_delete_path
%ul.nav{ :style => "margin-left: 0px"}
  %li
    %a.dropdown-toggle{ :"data-toggle" => :dropdown, :href => "#" }
      Info
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "FAQ", info_faq_path
      %li
        = link_to "Changelog", info_changelog_path
      %li
        = link_to "Contact", info_contact_path
      %li.divider
      %li
        = link_to "About author", info_about_path
%ul.nav
  %a{ href: info_about_path }
    .btn.btn-warning
      = image_tag "badges/cash.png", :style => "height: 20px"
      Donate
