%ul.nav{ :style => "margin-right: 0px"}
  %li
    %a.dropdown-toggle{:"data-toggle" => :dropdown, :href =>  "#" }
      Top Scores
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "Player", root_path
      %li
        = link_to "Corporation", home_corps_path
%ul.nav{ :style => "margin-right: 0px"}
  %li
    %a.dropdown-toggle{:"data-toggle" => :dropdown, :href =>  "#" }
      Ladders
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "Bounty", ladder_bounty_path
      %li
        = link_to "Incursion", ladder_incursion_path
  %li
    %a{:href => kills_log_path } Kill Log
%ul.nav{ :style => "margin-right: 0px"}
  %li
    %a.dropdown-toggle{:"data-toggle" => :dropdown, :href =>  "#" }
      API Key
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "Add", key_add_path
      %li
        = link_to "Delete", key_delete_path
%ul.nav{ :style => "margin-left: 0px"}
  %li
    %a.dropdown-toggle{ :"data-toggle" => :dropdown, :href => "#" }
      Info
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to "FAQ", info_faq_path
      %li
        = link_to "Changelog", info_changelog_path
      %li
        = link_to "Contact", info_contact_path
      %li.divider
      %li
        = link_to "About author", info_about_path
