!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title EVE Rat Score (BETA)
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "EVEScore, EVE Online PvE Score-board", :name => "description"}/
    %meta{:content => "chi", :name => "author"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{ :onload => "CCPEVE.requestTrust('http://evescore.com')" }
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/search'
          .pull-right
            %a{ :href => "/donate" }
              %button.btn.btn-warning
                %img{:src => "http://image.eveonline.com/Type/30768_32.png"}
                DONATE
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => root_path} 
            = image_tag "eve.png"
            -# %img{ :src => "../assets/images/eve.png"}
          .nav-collapse.collapse
            = render 'layouts/navigation'
    .container
      %p
        %br
        = render 'layouts/messages'
        =yield
